.books{
    width: 100%;
    min-height: 50vh;
    background: linear-gradient(rgba(56, 9, 135, 0.726),rgba(29, 5, 35, 0.7)), url('../../assets/Bookspage.png');
    background-size: cover;
    background-position: center;
    color: #ca58a2;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.books-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #8664a8;
  }
  
  .search-input {
    width: 600px;
    padding: 10px 20px;
    border: 3px solid #982172;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
  }
  
  .search-input::placeholder {
    color: #b224ba;
  }
  
  .search-input:focus {
    width: 400px;
    border-color: #2a629e;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  }

  .search-icon{
    position: relative;
    float: right;
    width: 20px;
    height: auto;
    top: 12px;
    right: 40px;
  }

  .categories {
    margin: 80px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category img {
    width: 100%;
    border-radius: 10px;
    display: block;

}

.category {
    flex-basis: 18%;
    position: relative;
    overflow: hidden;
    background: transparent;
}
.category::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, rgba(41, 39, 40, 0.3), rgba(14, 14, 14, 0.3));
    z-index: 1;
    pointer-events: none;
}

.caption {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(236, 234, 240, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(2, 0, 3);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.caption p{
    text-align: center;
}

.caption img {
    width: 60%;
    margin-bottom: 10px;
}

.category:hover .caption {
    opacity: 1;
}
  

  
