.navbar {
    display: flex;
    justify-content: space-between; /* Ensures content is spaced out */
    align-items: center;  /* Aligns items vertically */
    padding: 10px 20px;
    background-color: #121d52;
    color: white;
  }
  
  .logo-container {
    flex-shrink: 0;  /* Prevent logo from shrinking */
  }
  
  .logo {
    height: 40px;  /* Adjust the size of the logo */
    width: auto;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    align-items: left;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin-left: 20px;
  }
  
  .navbar-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  
  .navbar-link:hover {
    color: #ddd;
  }